"*":
  "atom-material-ui":
    colors:
      abaseColor: "#1ae63e"
  core:
    disabledPackages: [
      "linter-tslint"
      "linter-flow"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "aurora-theme"
    ]
  editor:
    fontFamily: "Consolas"
  "exception-reporting":
    userId: "492f3e56-3aa9-4d93-90a9-1917e9a27bb5"
  "linter-flow":
    executablePath: "/usr/local/bin/flow"
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
